<div class="controls_row">
  <a id="player0" class="controls_btn waves-effect waves-light btn-large">1.</a>
  <a id="player1" class="controls_btn waves-effect waves-light btn-large">2.</a>
  <a id="player2" class="controls_btn waves-effect waves-light btn-large">3.</a>
  <a id="player3" class="controls_btn waves-effect waves-light btn-large">4.</a>
  <a id="pule" class="controls_btn waves-effect waves-light btn-large">pule</a>
</div>
<div class="controls_row">
  <a id="win" class="controls_btn waves-effect waves-light btn-large">Vinne</a>
  <a id="loose" class="controls_btn waves-effect waves-light btn-large">Zaude</a>
</div>
<div class="controls_row">
  <a id="jani" class="controls_btn waves-effect waves-light btn-large">jani</a>
  <a id="bezstkis" class="controls_btn waves-effect waves-light btn-large">bezstikis</a>
  <a id="zole" class="controls_btn waves-effect waves-light btn-large">zole</a>
</div>